<! -- Side Navigation Bar -->
<mat-divider></mat-divider>
<mat-nav-list>
    <div fxLayout="row" fxLayoutAlign="start center">
        <mat-divider class="dvr" vertical></mat-divider>
        <h2 matSubheader class="mt-2">MENU</h2>
    </div>
    <mat-divider></mat-divider>
    <a class="button" mat-list-item routerLinkActive="list-item-active" routerLink="/home" routerLinkActive="active-list-item">
      <mat-icon class="icon">dashboard</mat-icon> Home
    </a>
    <a class="button" mat-list-item routerLinkActive="list-item-active" routerLink="/users" routerLinkActive="active-list-item">
      <mat-icon class="icon">dashboard</mat-icon> Users
    </a>
    <a class="button" mat-list-item routerLinkActive="list-item-active" routerLink="/blogs" routerLinkActive="active-list-item">
        <mat-icon class="icon">dashboard</mat-icon> Blogs
    </a>
</mat-nav-list>