<! -- Header of Home Component -->
<div class="header">
    <div fxLayout="row" class="box1">
        <mat-icon class="icon">dashboard</mat-icon> 
        <h2 class="title">Home</h2>
    </div>
    <div class="headerDescription">
        <div class="subtitle">
            <p>Home page description</p>
        </div>
    </div>
</div>

<! -- Dashboard -->
<div fxLayout="row">
    <div class="card">
        <div>
            <span class="material-icons cardIcon">
                shopping_cart
            </span>
        </div>
        <div>
            <h1 class="cardTitle">345</h1>
        </div>
        <div>
            <h3 class="cardSubTitle">Total Orders</h3>
        </div>
    </div>
    <div class="card">
        <div>
            <span class="material-icons cardIcon">
                calculate
            </span>
        </div>
        <div>
            <h1 class="cardTitle">345</h1>
        </div>
        <div>
            <h3 class="cardSubTitle">Total Expenses</h3>
        </div>
    </div>
    <div class="card">
        <div>
            <span class="material-icons cardIcon">
                assessment
            </span>
        </div>
        <div>
            <h1 class="cardTitle">345</h1>
        </div>
        <div>
            <h3 class="cardSubTitle">Total Revenue</h3>
        </div>
    </div>
    <div class="card">
        <div>
            <span class="material-icons cardIcon">
                person
            </span>
        </div>
        <div>
            <h1 class="cardTitle">345</h1>
        </div>
        <div>
            <h3 class="cardSubTitle">New Users</h3>
        </div>
    </div>
</div>

<! -- Recent Blogs -->
<div class="footer">
    <div fxLayout="row" class="box1">
        <mat-icon class="icon">dashboard</mat-icon> 
        <h2 class="title">Recent Blogs</h2>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row">
        <div class="card2">
            <div>
                <img class="image" alt="My image name" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9L4HgF6cEpse1SoWbguEMXMaWiOiG0Ml3wy_U6366d2IjCTvaPJ28e-UnTk9fYM1BpHk&usqp=CAU">
            </div>
            <div>
                <h1 class="footerTitle">Lorem ipsum dolor sit amet</h1>
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Pellentesque ullamcorper
                    ullamcorper tempor.
                    Present euismod fringilla
                    nulla nec bibendum
                    Cras ut volutpat lectus,</p>
            </div>
        </div>
        <div class="card2">
            <div>
                <img class="image" alt="My image name" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9L4HgF6cEpse1SoWbguEMXMaWiOiG0Ml3wy_U6366d2IjCTvaPJ28e-UnTk9fYM1BpHk&usqp=CAU">
            </div>
            <div>
                <h1 class="footerTitle">Lorem ipsum dolor sit amet</h1>
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Pellentesque ullamcorper
                    ullamcorper tempor.
                    Present euismod fringilla
                    nulla nec bibendum
                    Cras ut volutpat lectus,</p>
            </div>
        </div>
        <div class="card2">
            <div>
                <img class="image" alt="My image name" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9L4HgF6cEpse1SoWbguEMXMaWiOiG0Ml3wy_U6366d2IjCTvaPJ28e-UnTk9fYM1BpHk&usqp=CAU">
            </div>
            <div>
                <h1 class="footerTitle">Lorem ipsum dolor sit amet</h1>
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Pellentesque ullamcorper
                    ullamcorper tempor.
                    Present euismod fringilla
                    nulla nec bibendum
                    Cras ut volutpat lectus,</p>
            </div>
        </div>
        <div class="card2">
            <div>
                <img class="image" alt="My image name" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9L4HgF6cEpse1SoWbguEMXMaWiOiG0Ml3wy_U6366d2IjCTvaPJ28e-UnTk9fYM1BpHk&usqp=CAU">
            </div>
            <div>
                <h1 class="footerTitle">Lorem ipsum dolor sit amet</h1>
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Pellentesque ullamcorper
                    ullamcorper tempor.
                    Present euismod fringilla
                    nulla nec bibendum
                    Cras ut volutpat lectus,</p>
            </div>
        </div>
    </div>
</div>