<! -- Header of Home Component -->
<div class="header">
    <div fxLayout="row" class="box1">
        <mat-icon class="icon">dashboard</mat-icon> 
        <h2 class="title">Home</h2>
    </div>
    <div class="headerDescription">
        <div class="subtitle">
            <p>Home page description</p>
        </div>
    </div>
</div>

<! -- Dashboard -->
<div fxLayout="row wrap" fxLayoutGap="10px 10px" fxLayoutAlign="start start" class="dashboard">
    <mat-card *ngFor="let item of cardsList" fxLayout="row" fxLayoutAlign="center center" class="margin-5">
        <app-dashboard-cards [card]="item"></app-dashboard-cards>
    </mat-card>
</div>

<! -- Recent Blogs -->
<div class="footer">
    <div fxLayout="row" class="box1">
        <mat-icon class="icon">dashboard</mat-icon> 
        <h2 class="title">Recent Blogs</h2>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row wrap" fxLayoutGap="10px 10px" fxLayoutAlign="start start">
        <mat-card *ngFor="let item of blogsList" fxLayout="row" fxLayoutAlign="center center" class="margin-5">
            <app-recent-blogs-cards [card]="item"></app-recent-blogs-cards>
        </mat-card>
    </div>
</div>