<div>
    <div fxLayout="column" fxLayoutAlign="space-around center">
        <div>
            <div>
                <img class="image" alt="My image name" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQR6mNeolQnmtuuUJ3SwppHCm0CfRXTBECfOw&usqp=CAU">
                <div class="circleContainer">
                    <span class="material-icons circleIcon">
                        send
                    </span>
                </div>
            </div>
        </div>
        <div>
            <h1 class="cardTitle">{{card.name}}</h1>
        </div>
        <div>
            <p>{{card.username}}</p>
        </div>
    </div>
</div>